SUPABASE_URL=http://<host>:54321

SUPABASE_JWT_AUDIENCE=


SUPABASE_PUBLISHABLE_KEY=


# For debugging - never in production 
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=postgres

API_BASE_URL=
